
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf">
<title>画像当て</title>
<link rel="stylesheet" href="../static/css/test.css" type="text/css">

</head>
<body class="TOP">
<header id="TOP">
<nav>
<div id=top>
<a href="myapphome.html"><h1>画像から<br>地名あてゲーム</h1></a>
<div>
</nav>
</header>
<ul style="list-style:none;">
<li><a class="but" href="syokyuu.html">初級</a></li>
<li><a class="but" href="tyuukyuu.html">中級</a></li>
<li><a class="but" href="zyoukyuu.html">上級</a></li>
<li><a class="but" href="tyoukyuu.html">超級</a></li>
</ul>

<li><a class="but" href="Sisyokyuu.html">多摩地域 初級</a></li>

</video></h5>
</body>
<footer>
</footer>
</html>
