@charset "UTF-8";
body {
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	line-height: 1.7;
	margin: 0;
	padding: 0;
	background-color: #0099FF;
}

#top{
	background-color: green;
	color: yellow;
}
header {
	width: 100%;
	padding: 3em 0 3em;
	position: relative;
	text-align: center;
	color: #00C;
}
.gazou{

	text-align: center;
}

img.image{
	width: 400px;
	height: 400px;
	background-color: yellow;
}
#naiyou{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
}

header nav{
	margin: auto;
	text-align: center;
}
header#reki {
	padding: 2em 0 2em;
}
li{

		font-family: "Montserrat",sans-serif;
		display: inline-block;
		margin: 10px;
	}
.but{
	background-color: #f90;
	border-bottom: medium none;
	border-radius: 0.5em;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	line-height: 1.7;
	margin: 0 0 2em;
	padding: .6em 2em;
	position: relative;
	text-decoration: none;


}
.but:hover{
		color: lightblue;
		background-color: red;

}
	.clear{
	clear: both;
}
#t{
	width: 150px;
	text-align:center;
}

body{
	background-color: :  blue;
	text-align: center;
	color: #000;
}

table{
	display: inline-block;
	margin: 20px;
}
footer {
	width: 100%;
	background-position: bottom ;
	position: relative;
	text-align: center;
	color: #000;

}

a { text-decoration: none;}
